* {
    text-decoration: none;
}

body {

    margin: 0;
    font-family: 'roboto', sans-serif;

}

header a {

    padding-right: 20px;

}

header a,
main a {

    color: black;

}

.footer-nav a {

    color: white;
}

/* (((( page index ))) */

/* ((loader)) */

.loader {

    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    width: 100%;
    font-size: 7em;
    background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    margin-top: 150px;
    animation: loader 2s;

}

/* (( header )) */

.body-index {

    animation: body-index 2s;
}

.logo-index {

    display: flex;
    justify-content: center;
    padding: 15px;
    z-index: 2;
    box-shadow: 0px 1px 5px gray;
    position: relative;

}

.logo-index img {

    width: 50%;
}

.localisation {

    display: flex;
    justify-content: space-around;
    background-color: #EAEAEA;
    position: absolute;
    width: 100%;


}

.localisation i {

    padding-right: 15px;

}

.présentation {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F6F6F6;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 80px;
    z-index: 2;
    gap: 100%;

}

.texte-présentation p {

    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 900;
    margin: 0;

}

.titre-présentation {

    margin-bottom: 20px;

}

.description-présentation p {

    font-size: 1em;
    font-weight: 300;
    margin: 0;

}

.bouton-explorer {

    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
    box-shadow: 0px 4px 15px gray;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;

}

.bouton-explorer:hover {

    background: linear-gradient(rgb(250, 160, 224), #9459dc);
    box-shadow: 0px 4px 20px rgb(118, 118, 118);
}

.bouton-explorer p {

    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

/* (( main )) */

/* ( fonctionnement) */

.titre-fonctionnement {

    font-weight: 900;
    font-size: 1.5em;
    margin-top: 50px;
    margin-left: 20px;
}

.section-fonctionnement {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card-fonctionnement {

    display: flex;
    background-color: #F6F6F6;
    width: 100%;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 4px 15px #cbcbcb;
    max-width: 330px;
    cursor: pointer;

}

.card-fonctionnement:hover {

    background-color: #F5EDFF;
    box-shadow: 0px 4px 15px #b8b6b6;

}

.card-fonctionnement:hover i {

    color: #9356DC;

}

.card-fonctionnement:hover .texte-bouton-fonctionnement {

    color: black;

}

.texte-fonctionnement {

    display: flex;
    justify-content: space-between;

}

.nombre-fonctionnement {

    color: white;
    background-color: #9356DC;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -12px;

}

.texte-fonctionnement i {

    color: gray;
    padding-top: 20px;
    font-size: 1.4rem;
    padding-left: 25px;

}


.texte-bouton-fonctionnement {

    font-weight: 700;
    padding-top: 5px;
    padding-left: 25px;

}

/* (( section restaurant )) */

.section-restaurant {

    background-color: #F6F6F6;
    margin-top: 50px;

}

.titre-section-restaurant {

    font-weight: 900;
    font-size: 1.5em;
    padding-top: 50px;
    margin-left: 20px;
    margin-bottom: 0;

}

.cards-restaurants {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;

}

.card-restaurant {

    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 15px gray;

}

.card-restaurant img {

    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    position: relative;
    z-index: 2;

}

.nouveau {

    position: absolute;
    z-index: 3;
    right: 40px;
    color: #008766;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #99E2D0;
    border-radius: 3px;

}

.description-card-restaurant {
    display: flex;
    justify-content: space-between;

}

.description-card-restaurant p {

    margin-top: 10px;
    margin-left: 15px;

}

.nom-restaurant-card {

    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 0;

}

.description-card-restaurant .fa-regular {

    font-size: 1.5em;
    margin-right: 30px;
    margin-top: 20px;
    position: absolute;
    z-index: 2;

}

.description-card-restaurant .fa-regular:hover {

    opacity: 0;

}

.description-card-restaurant .fa-solid {

    font-size: 1.5em;
    margin-right: 30px;
    margin-top: 20px;
    opacity: 0;
    position: relative;
    z-index: 3;

}

.description-card-restaurant .fa-solid:hover {

    opacity: 1;
    font-size: 1.5em;
    background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s ease-in-out;

}

/* (((( pages menu ))) */

/* (( header pages menu )) */

.nav-et-logo {

    display: flex;
    justify-content: center;
    gap: 2%;

}

.logo-menu {

    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;

}

.logo-menu img {

    width: 50%;
    margin-left: -65px;

}

.nav-header i {

    padding-top: 20px;
    padding-left: 15px;
    font-size: 20px;

}

.image-restaurant img {

    width: 100%;
    height: 350px;
    object-fit: cover;

}

/* (( main pages menu )) */

/* titre restaurant */

.main-menu {

    background-color: #F6F6F6;
    border-radius: 50px 50px 0 0;
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: -80px;

}

.nom-restaurant-page-menu {

    font-family: 'Shrikhand';
    font-size: 1.8em;
    display: flex;
    justify-content: space-around;
    margin-left: -15px;

}

.nom-restaurant-page-menu p {

    margin-left: 20px;
    margin-bottom: 0;

}

.nom-restaurant-page-menu i {

    margin-top: 35px;
    margin-left: -40px;

}

.coeur-menu .fa-regular {

    position: absolute;
    z-index: 2;

}

.coeur-menu .fa-regular:hover {

    opacity: 0;

}

.coeur-menu .fa-solid {

    opacity: 0;
    position: relative;
    z-index: 3;

}

.coeur-menu .fa-solid:hover {

    opacity: 1;
    background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s ease-in-out;

}

/* menu restaurant */

.menu {

    margin-top: 0;

}

.entrées-section {

    margin-left: 15px;
    margin-right: 15px;
    animation: entrées 2s;

}

.plats-section {

    margin-left: 15px;
    margin-right: 15px;
    animation: plats 4s;

}

.desserts-section {

    margin-left: 15px;
    margin-right: 15px;
    animation: desserts 6s;

}

.titre-entrée p,
.titre-plats p,
.titre-desserts p {

    margin-top: 35px;
    margin-bottom: 5px;

}

.titre-entrée,
.titre-plats,
.titre-desserts {

    border-bottom: #99E2D0 3px solid;
    width: 40px;

}

.card-menu-restaurant {

    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 0px 1px 15px #cbcbcb;
    gap: 2%;

}

.card-menu-restaurant:hover {

    cursor: pointer;

}

.card-menu-restaurant p {

    margin: 5px;
    width: 270px;
    white-space: nowrap;

}

@media (max-width: 400px) {


    .card-menu-restaurant .p-trop-long {

        width: 260px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

}


.card-menu-restaurant:hover p {

    margin: 5px;
    width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.titre-plat {

    font-weight: 800;

}

.prix-plat {

    max-width: 30px;
    padding-top: 25px;

}

.validation-animation {

    display: none;
    width: 100%;

}

.card-menu-restaurant:hover .validation-animation {

    display: block;
    background-color: #99E2D0;
    margin: -5px;
    border-radius: 0 15px 15px 0;
    animation: validation 2s;

}

.validation {

    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.8em;
    margin-top: 18px;

}

.card-menu-restaurant:hover .validation {

    animation: validation-rotation 1s;

}

/* Bouton commander */

.bouton-restaurant {

    display: flex;
    justify-content: center;

}

.bouton-commander {

    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
    box-shadow: 0px 4px 15px gray;

}

.bouton-commander:hover {

    background: linear-gradient(rgb(250, 160, 224), #9459dc);
    box-shadow: 0px 4px 20px rgb(118, 118, 118);
    cursor: pointer;

}

/* (((( Footer Toutes les pages ))))  */

.footer {

    background-color: #353535;
    padding-bottom: 30px;
    width: 100%;
    position: absolute;
    z-index: 3;

}

.footer p {

    color: white;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.logo-titre-footer {

    font-family: 'Shrikhand';
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 15px;

}

.footer-nav p {

    font-weight: 400;
    font-size: 1em;

}

.footer-nav i {

    font-size: 0.8em;
    margin-right: 15px;

}

/* (((( keyframes )))) */

/* (( index )) */

@keyframes loader {

    from {

        transform: rotate(0deg);
        opacity: 1;
        z-index: 4;

    }

    to {

        transform: rotate(360deg);
        opacity: 0;
        z-index: 4;

    }

}

@keyframes body-index {

    0% {

        opacity: 0%;

    }

    95% {

        opacity: 1%;
    }

    100% {

        opacity: 100%;
    }
}

/* (( MENU )) */

@keyframes entrées {

    from {
        opacity: 0;
        margin-top: 55px;
    }

    to {

        opacity: 1;
    }

}

@keyframes plats {

    from {
        opacity: 0;
        margin-top: 55px;
    }

    to {

        opacity: 1;
    }

}

@keyframes desserts {

    from {
        opacity: 0;
        margin-top: 55px;
    }

    to {

        opacity: 1;
    }

}

@keyframes validation {

    0% {

        width: 0%;
        opacity: 0;

    }

    100% {

        width: 100%;

    }

}

@keyframes validation-rotation {

    from {

        visibility: hidden;
        transform: rotate(-90deg);
    }

    to {


        visibility: visible;
        transform: rotate(360deg);
    }

}

/* (((( Media queries )))) */

@media (min-width: 768px) {

    /* (( index )) */

    .logo-index img {

        width: 180px;

    }

    .section-fonctionnement {

        gap: 100%;

    }

    .titre-section-restaurant {

        padding-bottom: 30px;

    }

    .card-restaurant {

        width: 400px;
        margin-top: 50px;
        margin-bottom: 25px;

    }

    .nouveau {

        border-radius: 15PX 15PX 0 0;
        text-align: center;
        position: relative;
        margin-top: -60px;
        margin-left: 50px;
        width: 90%;

    }

    /* (( Menus )) */

    .menu {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .card-menu-restaurant {

        width: 400px;
    }

}

@media (min-width: 992px) {

    /* (( index )) */

    .titre-fonctionnement,
    .titre-section-restaurant {

        display: flex;
        justify-content: center;

    }

    .cards-restaurants {

        padding-top: 50px;
        margin-left: 20%;
        margin-right: 20%;

    }

    .card-restaurant {

        margin: 30px;
        margin-bottom: 50px;

    }

    .card-fonctionnement:hover,
    .card-restaurant:hover {

        transform: scale(1.05);
        transition: .1s ease-in-out;

    }

    .footer p {

        display: flex;
        justify-content: center;

    }

    /* (( Menus )) */

    .main-menu {

        border-radius: 0%;

    }

    .nom-restaurant-page-menu {

        display: flex;
        justify-content: center;
        gap: 5%
    }

    .menu {

        gap: 100%;

    }

}